<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tw.tcnr09.m0705">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_m0705"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_m0705_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".M0705"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>

<!--備註筆記-->
<!--    鎖定銀幕直幅portrait，橫幅landscape，鎖定初始值locked-->
<!--    android:screenOrientation="landscape"-->